.heroContainer {
   width: 100%;
   flex-grow: 1; 
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                     url('/fundo.png'); 
   background-size: cover; 
   background-position: center center; 
   background-repeat: no-repeat; 
   box-sizing: border-box;
   display: flex;
   
  
   flex-direction: column; 
   
   align-items: center;
   justify-content: center;
 }
 
 .heroText {
   color: white;
   
   font-size: 3.5rem; 
   font-weight: 300; 
   letter-spacing: 1px; 
   
   text-align: center;
   text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
   margin-bottom: 0; 
 }
 
 .heroSubText {
   color: #f0f0f0; 
   font-size: 1.25rem; 
   font-weight: 300;
   text-align: center;
   text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
   margin-top: 10px; 
 }